{% extends 'webapp/base.html' %}

<!-- Loading crispy-forms -->

 {% load crispy_forms_tags %}



{% block content %}
<body>
    

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3> Create Your Account</h3>
        <h5> Start managing you clients today! </h5>

        <hr>
        <br>

        <form method="POST" autocomplete="off">
            
            <!-- Cross Site Request Forgery -->
            {% csrf_token %}


            <!-- {{form |crispy}}   -->
            {{form.username | as_crispy_field}}
            <br>
            {{form.password1 | as_crispy_field}}

            <br>
            {{form.password2 | as_crispy_field}}


            <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Create Account &nbsp; <i class="fa fa-user-minus"></i></button>
        </form>

        <br>

        <div class="text-center">
            <p> Already Have An Account? </p> <a href="{% url 'my-login'%}"> Login </a>
        </div>
        

    </div>
    <br>

</body>
{% endblock %}