{% extends  'webapp/base.html' %}



{% block content %}

    <div class="card">

        

         <div class="card-body">
            <i class="fa fa-user"></i>
            &nbsp;
            <strong>
                
                
                <b> {{record.last_name | upper}} {{record.first_name}} </b>
                        
           </strong>
           <hr>
            <p><b><strong>ID:</b></strong> {{record.id}} </p>

            <p><b><strong>Email:</b> </strong> {{record.email}}</p>

            <p><b><strong>Phone:</b> </strong>:</strong> {{record.phone}}</p>

            <p><b><strong>Address:</b> </strong> {{record.address}}</p>

            <p><b><strong>City:</b> </strong> {{record.city}}</p>         
            <p><b><strong>Province:</b> </strong> {{record.province}}</p>
            <p><b><strong>Country:</b> </strong> {{record.country}}</p>


         </div>   
    </div>
    <br>
    
    <a href="{% url 'dashboard' %}" class = "btn btn-primary"> Return To Dashboard &nbsp; <i class="fa fa-backward"></i></a>
    
    &nbsp;

    <a href="{% url 'update-record' record.id %}" class = "btn btn-info"> Update record &nbsp; <i class="fa fa-wrench"></i></a>

    &nbsp;

    <a href="{% url 'delete-record' record.id %}" class = "btn btn-danger"> Delete Record &nbsp; <i class="fa fa-trash"></i> </a>


    <!--  we are adding the non breaking space  -->


{% endblock %}